/* Importing Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

/* Adding styling to whole document */
:root {
    background-color: #49BEFE;
    font-family: 'Poppins', sans-serif;
    /* Changing 1 rem to 10px instead of 16px */
    font-size: 62.5%
}

/* Syling for header and h1 */
header {
    display: flex;
    justify-content: center;
}

h1 {
    font-weight: 900;
    font-size: 750%;
    color: #E8F8FF;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
    margin-top: 5%;
}

/* Aligning the search for a city and current weather section */
.search-currently {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 3%;
}

/* Styling for all headers of sections */
h2 {
    font-size: 600%;
    color: #FAE116;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
    margin: 0;
}

/* Styling for the search for a city section */
.search-components {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

/* Styling the input and search button */
.input-button {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
}

/* Styling input field */
input {
    width: 60%;
    height: auto;
    text-align: center;
    font-size: 200%;
    margin-right: 1%;
}

/* Styling search button */
button {
    width: 30%;
    height: auto;
    font-size: 200%;
    background-color: #49BEFE;
    border: .35rem solid #E8F8FF;
    color: #FAE116;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}

/* Styling the search history section */
.history {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling the search history header */
#search-history {
    font-size: 350%;
    text-align: center;
    color: #E8F8FF;
}

/* Styling the section underneath the search history header */
.history-contents {
    margin-top: 3%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling the search history buttons */
.history-button {
    margin: 1%;
}

/* Styling for the current and forecast containers */
.currently-forecast-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 63%;
}

/* Current weather container */
.currently-container {
    display: flex;
    flex-direction: column;
    border: .5rem solid #E8F8FF;
    width: 80%;
    margin-top: 0%;
    
}

/* Aligning the header of current weather container */
.currently-header {
    display: flex;
    justify-content: space-around;
}

/* Styling the header of current weather section */
.currently-header-content {
    font-size: 500%;
    font-weight: 700;
    margin: 1%;
    color: #FAE116;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}

/* Styling the container holding current weather details */
.currently-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Styling the current weather details */
.currently-top-bottom-2 {
    display: flex;
    justify-content: space-evenly;
}

/* Styling for the weather detail text and span text to match */
h3, .currently-forecast-h3 {
    font-size: 300%;
    font-weight: 400;
}

/* Styling the forecast container */
.forecast-container {
    display: flex;
    flex-direction: column;
    border: .5rem solid #E8F8FF;
    width: 100%;
    margin-top: 1%;
    height: auto;
}

/* styling the forecast header */
.forecast-header-content {
    display: flex;
    justify-content: center;
}

/* Styling the forecast cards */
.cards {
    display: flex;
    justify-content: space-around;
}

/* Styling the individual cards */
.card {
    width: 18%;
    height: auto;
    background-color: #E8F8FF;
    margin-top: 3%;
    margin-bottom: 3%;
}

/* Styling for the icon in the cards of forecast */
.forecast-icon {
    margin: 3%;
}

/* Styling forecast weather deatils */
h4 {
    font-size: 200%;
    font-weight: 400;
    padding: 2%;;
}






